body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceffc;
}

#app {
    background-color: lightgoldenrodyellow;
    border: 3px darksalmon solid;
    border-radius: 10px;    
    width: 75vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 30px;
}

#screen {
    font-size: 6.2vw;
    min-height: 8.2vw;
    max-height: 8.2vw;
    display: grid;
    justify-items: end;
    padding: 15px;
    background-color: azure;
    color: #530303;
    border: 2px lightsalmon solid;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 3vh;
}

#display {
    align-self: end;
    overflow: hidden;
}

#buttons {
    display: flex;
    flex: 1 1 30px;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 1 1 30px;
}

#numbers button {
    flex: 1 1 40px;
    width: max-content;
}

button {
    font-size: 4vw;
}

#row1, #row2, #row3, #row4, #clear {
    display: flex;
    flex: auto;
}

#clear {
    flex: 0.2 0 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}